<h1>Edit this post</h1>

<%= render "form", article: @article %>

</br>
<%= link_to "undone", article_path(@article) %>
<%= button_to "Delete Article", @article, method: :delete, data: {turbo_confirm: "Are you sure you want this Artcile deleted?"} %>
